= link_to property do
  .card.w-100
    .card-body.row.justify-content-md-between.align-items-md-center
      .col-12.col-md-auto.mb-3.mb-md-0.text-muted
        %h5= property.title
        - if property.geo_location.try(:label)
          %h6.small= property.geo_location.label
