.card-img-top {
  overflow: hidden;
}

.img-4x3-container {
  position: relative;

  width: 100%;
  padding-top: 75%;
}

.img-4x3-content {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}
