%h5.text-muted Gallery

.row
  .col-12.col-md-4
    = render 'form', image: @image, owner: @owner

  .col-12.col-md-8
    .row
      - @image.owner.images.each do |image|
        .col-4.col-md-4.mb-2
          = image_tag attachment_url(image, :attached_file), class: 'img-fluid'
