%h5.text-muted Gallery

.row
  .col-12.col-md-4
    = render 'form', image: @image, owner: @owner

  .col-12.col-md-8
    .row
      - @image.owner.images.each do |image|
        .col-6.mb-2
          .card
            = image_tag attachment_url(image, :attached_file), class: 'card-img-top'
            .card-body.d-flex.justify-content-end
              = link_to 'Delete', image, method: :delete, class: 'btn btn-sm btn-light'
